.password-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.password-title {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.password-title > p {
  font-size: 18px;
  font-weight: 500;
}
.password-title > span {
  font-size: 12px;
  font-weight: 300;
}
.password-input-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 
   */
  width: 100%;
  gap: 20px;
  /* border: 1px solid red; */
  border-radius: 5px;
  /* background-color: rgb(240, 240, 240); */
  padding: 0 20px;
  border: 2px solid rgb(240, 240, 240);
}
.password-input-container:focus-within {
  border-color: var(--colorblue);
}
.password-input-container > input {
  flex: 1;
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
  border: 0;
  /* background-color: transparent; */
}
@media screen and (max-width: 999.9px) {
  .password-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 1rem;

    /* justify-content: flex-start; */
  }
  .password-title > p {
    font-size: 15px;
  }
  .password-title > span {
    font-size: 11px;
  }
  .password-input-container {
    padding: 0 10px;
    gap: 5px;
  }
  .password-input-container > input {
    padding: 10px 5px;
    /* border: solid red; */
  }
}
